<div ng-cloak="">
    <md-content>
        <md-tabs md-dynamic-height="" md-border-bottom="">
            <md-tab label="scenes">
                <md-content class="md-padding">
                    <md-card ng-hide="scenes.length != 0">
                        <md-card-content layout="column" layout-align="center center">
                            <span>No scenes.</span>
                            <span>By default, the scene called 'start' is automatically loaded.</span>
                            <span>Make sure you have one.</span>
                        </md-card-content>
                    </md-card>
                    <md-card>
                        <md-card-content>
                            <md-input-container class="md-block">
                                <label>Name</label>
                                <input ng-model="ui.newFilename">
                            </md-input-container>
                        </md-card-content>
                        <md-card-actions layout="row" layout-align="end center">
                            <md-button ng-click="newScene(scene)">new</md-button>
                        </md-card-actions>
                    </md-card>
                    <md-card ng-show="scenes.length != 0">
                        <md-card-content>
                            <div ng-repeat="scene in scenes" layout="row">
                                <md-input-container flex>
                                    <label>Scene</label>
                                    <input ng-model="scene" ng-readonly="true">
                                </md-input-container>
                                <md-button ng-click="editScene(scene)">edit</md-button>
                            </div>
                        </md-card-content>
                        <!-- <md-card-actions layout="row" layout-align="end center"> -->
                            <!-- <md-button ng-click="editScene(scene)">edit</md-button> -->
                            <!-- </md-card-actions> -->
                    </md-card>
                </md-content>
            </md-tab>
            <md-tab label="build">
                <md-content class="md-padding">
                    <md-card>
                        <md-card-content layout="column" layout-align="center center">
                            <md-button ng-click="run()">run</md-button>
                        </md-card-content>
                    </md-card>
                </md-content>
            </md-tab>
        </md-tabs>
    </md-content>
</div>
