<div ng-cloak="">
    <md-content>
        <md-tabs md-dynamic-height="" md-border-bottom="">
            <md-tab label="scenes">
                <md-content class="md-padding">
                    <md-card ng-hide="scenes.length != 0">
                        <md-card-content layout="column" layout-align="center center">
                            <span>No scenes.</span>
                            <span>By default, the scene called 'start' is automatically loaded.</span>
                            <span>Make sure you have one.</span>
                        </md-card-content>
                    </md-card>
                </md-content>
                <md-content layout="row">
                    <md-card flex ng-show="scenes.length != 0">
                        <md-card-content>
                            <div ng-repeat="scene in scenes" layout="row">
                                <p flex>{{ getSceneName(scene) }}</p>
                                <md-button ng-click="editScene(scene)">edit</md-button>
                            </div>
                        </md-card-content>
                    </md-card>
                    <md-card flex>
                        <md-card-content flex>
                            <p>Create a new scene.</p>
                            <p>By convention, the scene which loads first is called 'start'.</p>
                            <form name="form" flex>
                                <md-input-container class="md-block">
                                    <label>Name</label>
                                    <input name="name" ng-model="ui.newFilename" ng-required="true" ng-pattern="regex.name">
                                </md-input-container>
                            </form>
                        </md-card-content>
                        <md-card-actions layout="row" layout-align="end center">
                            <md-button ng-click="newScene(scene)" ng-disabled="!form.name.$valid">new</md-button>
                        </md-card-actions>
                    </md-card>
                </md-content>
            </md-tab>
        </md-tabs>
    </md-content>
</div>
