<md-content>
    <md-card layout="column">
        <md-card-content layout="row">
            <md-input-container flex>
                <label>Curve</label>
                <input ng-model="json.curve">
            </md-input-container>
        </md-card-content>
        <md-card-content layout="row">
            <md-input-container flex>
                <label>Text</label>
                <input ng-model="json.text">
            </md-input-container>
            <md-input-container flex>
                <label>Letter Padding</label>
                <input ng-model="json.letterPadding">
            </md-input-container>
            <md-input-container flex>
                <md-switch ng-model="json.drawCurve" aria-label="Draw curve">
                    Draw curve
                </md-switch>
            </md-input-container>
            <md-input-container flex>
                <md-switch ng-model="wireframe" aria-label="wireframe">
                    Wireframe
                </md-switch>
            </md-input-container>
        </md-card-content>
    </md-card>
</md-content>
