<md-sidenav class="md-whiteframe-z2" md-component-id="right" md-is-locked-open="true" style="position: fixed; z-index: 2; right: 0px; left: inherit">
    <md-content layout-padding>
        <div>
            <md-switch ng-model="ui.stats" aria-label="Stats" ng-click="toggleStats()">
                Stats
            </md-switch>
            <div md-color-picker ng-model="options.clearColor"></div>
        </div>
        <md-divider></md-divider>
        <div layout="row">
            <md-input-container class="md-block">
                <label>Max Age</label>
                <input type="number" ng-model="particle.particleGroup.maxAge" ng-change="refresh()">
            </md-input-container>
            <md-input-container class="md-block">
                <label>Alpha Test</label>
                <input type="number" ng-model="particle.particleGroup.alphaTest" ng-change="refresh()">
            </md-input-container>
        </div>
        <div layout="row">
            <md-input-container flex>
                <label>Blending</label>
                <md-select flex ng-model="particle.particleGroup.blending" ng-change="refresh()">
                    <md-option ng-value="0">NoBlending</md-option>
                    <md-option ng-value="1">NormalBlending</md-option>
                    <md-option ng-value="2">AdditiveBlending</md-option>
                    <md-option ng-value="3">SubtractiveBlending</md-option>
                    <md-option ng-value="4">MultiplyBlending</md-option>
                </md-select>
            </md-input-container>
        </div>
        <div layout="row">
            <md-switch flex ng-model="particle.particleGroup.transparent" aria-label="Transaprent" ng-change="refresh()">
                Transparent
            </md-switch>
            <md-switch flex ng-model="particle.particleGroup.fog" aria-label="Fog" ng-change="refresh()">
                Fog
            </md-switch>
        </div>
        <div layout="row">
            <md-switch flex ng-model="particle.particleGroup.colorize" aria-label="Colorize particle group" ng-change="refresh()">
                Colorize
            </md-switch>
            <md-switch flex ng-model="particle.particleGroup.hasPerspective" aria-label="Has perspective" ng-change="refresh()">
                Perspective
            </md-switch>
        </div>
        <md-divider></md-divider>
        <div layout="row">
        <md-input-container flex>
            <label>Emitter Type</label>
            <md-select ng-model="particle.emitter.type">
                <md-option value='cube'>cube</md-option>
                <md-option value='sphere'>sphere</md-option>
                <md-option value='disk'>disk</md-option>
            </md-select>
        </md-input-container>
        </div>
        <div layout="row" ng-repeat="attr in ['position', 'positionSpread', 'acceleration', 'accelerationSpread', 'velocity', 'velocitySpread']">
            <md-input-container class="md-block" ng-repeat="coord in ['x', 'y', 'z']">
                <label>{{ attr + ' - ' + coord }}</label>
                <input type="number" ng-model="particle.emitter[attr][coord]">
            </md-input-container>
        </div>
        <div layout="row" ng-show="particle.emitter.type == 'sphere'">
            <md-input-container class="md-block" ng-repeat="item in ['speedSpread', 'speed', 'radius']">
                <label>{{ item }}</label>
                <input type="number" ng-model="particle.emitter[item]">
            </md-input-container>
        </div>
        <div layout="row" ng-show="particle.emitter.type == 'sphere'">
            <md-input-container class="md-block" ng-repeat="coord in ['x', 'y', 'z']">
                <label>{{ 'Emitter Radius Scale - ' + coord }}</label>
                <input type="number" ng-model="particle.emitter.radiusScale[coord]">
            </md-input-container>
        </div>
        <div layout="row" ng-repeat="pair in [['sizeStart', 'sizeStartSpread'], ['sizeMiddle', 'sizeMiddleSpread'], ['sizeEnd', 'sizeEndSpread'], ['angleStart', 'angleStartSpread'], ['angleMiddle', 'angleMiddleSpread'], ['angleEnd', 'angleEndSpread']]">
            <md-input-container class="md-block" ng-repeat="size in pair">
                <label>{{ size }}</label>
                <input type="number" ng-model="particle.emitter[size]">
            </md-input-container>
        </div>
        <div layout="column" ng-repeat="specialColor in ['colorStart', 'colorMiddle', 'colorEnd']">
            <div layout="column">
                <div md-color-picker ng-model="options.emitter[specialColor]" ng-change="updateColor(specialColor)"></div>
            </div>
            <div layout="row">
                <md-input-container class="md-block" ng-repeat="coord in ['x', 'y', 'z']">
                    <label>{{ specialColor + ' - ' + coord }}</label>
                    <input type="number" ng-model="particle.emitter[specialColor + 'Spread'][coord]">
                </md-input-container>
            </div>
        </div>
        <div layout="row" ng-repeat="opac in ['opacityStart', 'opacityMiddle', 'opacityEnd']">
            <md-input-container class="md-block" ng-repeat="s in ['', 'Spread']">
                <label>{{ opac + s }}</label>
                <input type="number" ng-model="particle.emitter[opac + s]">
            </md-input-container>
        </div>
        <md-input-container class="md-block" ng-repeat="s in ['particlesPerSecond', 'emitterDuration', 'alive']">
            <label>{{ s }}</label>
            <input type="number" ng-model="particle.emitter[s]">
        </md-input-container>
        <!-- TODO this is another way to group the items -->
        <!-- <div layout="column" ng-repeat="size in ['Start', 'Middle', 'End']" style="background-color: gray"> -->
            <!-- <div layout="column"> -->
                <!-- <div md-color-picker ng-model="options.emitter['color' + size]" ng-change="updateColor('color' + size)"></div> -->
            <!-- </div> -->
            <!-- <div layout="row"> -->
                <!-- <md-input-container class="md-block" ng-repeat="coord in ['x', 'y', 'z']"> -->
                    <!-- <label>{{ 'color' + size + 'Spread - ' + coord }}</label> -->
                    <!-- <input type="number" ng-model="particle.emitter['color' + size + 'Spread'][coord]"> -->
                <!-- </md-input-container> -->
            <!-- </div> -->
            <!-- <div layout="row" ng-repeat="which in ['opacity', 'size', 'angle']"> -->
                <!-- <md-input-container class="md-block" ng-repeat="s in [which + size, which + size + 'Spread']"> -->
                    <!-- <label>{{ s }}</label> -->
                    <!-- <input type="number" ng-model="particle.emitter[s]"> -->
                <!-- </md-input-container> -->
            <!-- </div> -->
        <!-- </div> -->
        <md-input-container>
            <md-button ng-click="saveJson()">save</md-button>
        </md-input-container>
    </md-content>
</md-sidenav>
