<div ng-cloak="">
    <md-content>
        <md-tabs md-dynamic-height="" md-border-bottom="">
            <md-tab label="scene">
                <md-content class="md-padding">
                    <md-card>
                        <md-card-content>
                            <div layout="row">
                                <md-input-container class="md-block" flex-gt-xs>
                                    <label>id</label>
                                    <input ng-model="json.id">
                                </md-input-container>
                            </div>
                            <div>
                                <md-input-container class="md-block">
                                    <label>Description</label>
                                    <textarea ng-model="json.description" md-maxlength="150" rows="5" md-select-on-focus></textarea>
                                </md-input-container>
                            </div>
                            <div layout="row">
                                <md-switch flex ng-model="ui.preset_camera" aria-label="Preset camera" ng-disabled="json.cameras.length == 0">
                                    Preset camera
                                </md-switch>
                                <md-input-container flex>
                                    <label>Camera</label>
                                    <md-select ng-model="json.engine.camera" ng-disabled="!ui.preset_camera">
                                        <md-option ng-repeat="camera in json.cameras" ng-value="{{ $index }}">
                                            {{ camera.id || $index }}
                                        </md-option>
                                    </md-select>
                                </md-input-container>
                            </div>
                        </md-card-content>
                        <md-card-actions layout="row" layout-align="end center">
                            <md-button ng-click="goToGame()">back</md-button>
                            <input class="ng-hide" id="input-file-id" type="file" ng-model="file.data" file-select="data" file-loaded="loaded()" file-error="myError($error)" file-progress="myProgress($total,$loaded)">
                            <label for="input-file-id" class="md-button">Load</label>
                            <md-button ng-click="save()">save</md-button>
                        </md-card-actions>
                    </md-card>
                    <!-- <h1 class="md-display-2">Tab Three</h1> -->
                    <!-- <p>Integer turpis erat, porttitor vitae mi faucibus, laoreet interdum tellus. Curabitur posuere molestie dictum. Morbi eget congue risus, quis rhoncus quam. Suspendisse vitae hendrerit erat, at posuere mi. Cras eu fermentum nunc. Sed id ante eu orci commodo volutpat non ac est. Praesent ligula diam, congue eu enim scelerisque, finibus commodo lectus.</p> -->
                </md-content>
            </md-tab>
            <md-tab label="assets">
                <md-content class="md-padding space-for-button">
                    <md-card ng-show="json.assets.length == 0">
                        <md-card-content layout="row" layout-align="center center">
                            <span>No assets</span>
                        </md-card-content>
                    </md-card>
                    <md-card ng-repeat="asset in json.assets">
                        <md-card-content layout="row">
                            <md-input-container>
                                <label>Type</label>
                                <md-select ng-model="asset.type">
                                    <md-option ng-repeat="type in assetTypes" value="{{ type }}">
                                        {{ type }}
                                    </md-option>
                                </md-select>
                            </md-input-container>
                            <md-input-container flex>
                                <label>destPath</label>
                                <input ng-model="asset.destPath" ng-readonly="!asset.type || !asset.libPath">
                            </md-input-container>
                            <md-input-container flex>
                                <label>libPath</label>
                                <input ng-model="asset.libPath" ng-readonly="!asset.type">
                            </md-input-container>
                        </md-card-content>
                        <md-card-actions layout="row" layout-align="end center">
                            <md-button ng-click="openAssetSearch($event, asset, onAssetSelect)" ng-disabled="!asset.type">Import</md-button>
                            <md-button ng-click="removeAsset(asset)">delete</md-button>
                        </md-card-actions>
                    </md-card>
                </md-content>
                <md-button class="md-fab md-fab-bottom-right" ng-disabled="false" aria-label="Add asset" ng-click="addAsset()">
                    <md-icon md-svg-src="cinematic-editor/ic_add_48px.svg"></md-icon>
                </md-button>
            </md-tab>
            <md-tab label="cameras">
                <md-content class="md-padding space-for-button">
                    <md-card ng-show="json.cameras.length == 0">
                        <md-card-content layout="row" layout-align="center center">
                            <span>No cameras</span>
                        </md-card-content>
                    </md-card>
                    <md-card ng-repeat="camera in json.cameras">
                        <md-card-content layout="row">
                            <md-input-container>
                                <label>Type</label>
                                <md-select ng-model="camera.type">
                                    <md-option ng-repeat="type in cameraTypes" value="{{ type }}">
                                        {{ type }}
                                    </md-option>
                                </md-select>
                            </md-input-container>
                            <md-input-container class="md-block no-bottom" flex-gt-xs>
                                <label>Id</label>
                                <input ng-model="camera.id">
                            </md-input-container>
                        </md-card-content>
                        <md-card-content layout="row">
                            <md-input-container class="md-block no-bottom" flex-gt-xs>
                                <label>Camera View Angle</label>
                                <input type="number" ng-model="camera.view_angle">
                            </md-input-container>
                            <md-input-container class="md-block no-bottom" flex-gt-xs>
                                <label>Camera Near</label>
                                <input type="number" ng-model="camera.near">
                            </md-input-container>
                            <md-input-container class="md-block no-bottom" flex-gt-xs>
                                <label>Camera Far</label>
                                <input type="number" ng-model="camera.far">
                            </md-input-container>
                        </md-card-content>
                        <md-card-content layout="row" ng-repeat="prop in ['position', 'rotation', 'lookAt']">
                            <span flex layout="row" layout-align="center center">{{ prop }}</span>
                            <md-input-container flex class="md-block no-bottom" flex-gt-xs>
                                <label>x</label>
                                <input type="number" ng-model="camera[prop].x">
                            </md-input-container>
                            <md-input-container flex class="md-block no-bottom" flex-gt-xs>
                                <label>y</label>
                                <input type="number" ng-model="camera[prop].y">
                            </md-input-container>
                            <md-input-container flex class="md-block no-bottom" flex-gt-xs>
                                <label>z</label>
                                <input type="number" ng-model="camera[prop].z">
                            </md-input-container>
                        </md-card-content>
                        <md-card-actions layout="row" layout-align="end center">
                            <md-button ng-click="defaultCamera(camera)">default</md-button>
                            <md-button ng-click="removeCamera(camera)">delete</md-button>
                        </md-card-actions>
                    </md-card>
                    <md-button class="md-fab md-fab-bottom-right" ng-disabled="false" aria-label="Add camera" ng-click="addCamera()">
                        <md-icon md-svg-src="cinematic-editor/ic_add_48px.svg"></md-icon>
                    </md-button>
                </md-content>
            </md-tab>
            <md-tab label="items">
                <md-content class="md-padding space-for-button">
                    <md-card ng-show="json.items.length == 0">
                        <md-card-content layout="row" layout-align="center center">
                            <span>No items</span>
                        </md-card-content>
                    </md-card>
                    <md-card ng-repeat="item in json.items">
                        <md-card-content layout="row">
                            <md-input-container flex class="md-block no-bottom" flex-gt-xs>
                                <label>id</label>
                                <input ng-model="item.id">
                            </md-input-container>
                            <md-input-container flex>
                                <label>Type</label>
                                <md-select ng-model="item.type">
                                    <md-option ng-repeat="type in itemTypes" value="{{ type }}">
                                        {{ type }}
                                    </md-option>
                                </md-select>
                            </md-input-container>
                            <md-input-container flex ng-if="hasMapAttr(item.type)">
                                <label>Map</label>
                                <md-select ng-model="item.map">
                                    <md-option ng-repeat="asset in json.assets | filter: mapFilter" value="{{ getKeyName(asset.destPath) }}">
                                        {{ getKeyName(asset.destPath) }}
                                    </md-option>
                                </md-select>
                            </md-input-container>
                            <md-input-container flex ng-if="item.type == 'model'">
                                <label>Key</label>
                                <md-select ng-model="item.key">
                                    <md-option ng-repeat="asset in json.assets | filter: modelFilter" value="{{ getKeyName(asset.destPath) }}">
                                        {{ getKeyName(asset.destPath) }}
                                    </md-option>
                                </md-select>
                            </md-input-container>
                            <md-input-container flex ng-if="item.type == 'terrain'">
                                <label>Key</label>
                                <md-select ng-model="item.key">
                                    <md-option ng-repeat="asset in json.assets | filter: terrainFilter" value="{{ getKeyName(asset.destPath) }}">
                                        {{ getKeyName(asset.destPath) }}
                                    </md-option>
                                </md-select>
                            </md-input-container>
                            <md-input-container flex ng-if="item.type == 'particle'">
                                <label>Key</label>
                                <md-select ng-model="item.key">
                                    <md-option ng-repeat="asset in json.assets | filter: particleFilter" value="{{ getKeyName(asset.destPath) }}">
                                        {{ getKeyName(asset.destPath) }}
                                    </md-option>
                                </md-select>
                            </md-input-container>
                            <md-input-container flex ng-if="item.type == 'graffiti'">
                                <label>Key</label>
                                <md-select ng-model="item.key">
                                    <md-option ng-repeat="asset in json.assets | filter: graffitiFilter" value="{{ getKeyName(asset.destPath) }}">
                                        {{ getKeyName(asset.destPath) }}
                                    </md-option>
                                </md-select>
                            </md-input-container>
                        </md-card-content>
                        <md-card-content layout="row" ng-repeat="prop in ['position', 'rotation', 'scale', 'lookAt']" ng-show="hasCoordinates(item.type)">
                            <span flex layout="row" layout-align="center center">{{ prop }}</span>
                            <md-input-container flex class="md-block no-bottom">
                                <label>x</label>
                                <input type="number" ng-model="item[prop].x">
                            </md-input-container>
                            <md-input-container flex class="md-block no-bottom">
                                <label>y</label>
                                <input type="number" ng-model="item[prop].y">
                            </md-input-container>
                            <md-input-container flex class="md-block no-bottom">
                                <label>z</label>
                                <input type="number" ng-model="item[prop].z">
                            </md-input-container>
                        </md-card-content>
                        <md-card-content layout="row" ng-show="hasWidthHeight(item) || hasColor(item)">
                            <div md-color-picker ng-model="item.color" ng-show="hasColor(item)"></div>
                            <md-input-container flex class="md-block no-bottom" ng-show="item.type == 'mirror'">
                                <label>Clip Bias</label>
                                <input type="number" ng-model="item.clipBias">
                            </md-input-container>
                            <md-input-container flex class="md-block no-bottom" ng-show="hasWidthHeight(item)">
                                <label>Width</label>
                                <input type="number" ng-model="item.width">
                            </md-input-container>
                            <md-input-container flex class="md-block no-bottom" ng-show="hasWidthHeight(item)">
                                <label>Height</label>
                                <input type="number" ng-model="item.height">
                            </md-input-container>
                            <md-input-container flex class="md-block no-bottom" ng-show="hasWidthHeightSegments(item)">
                                <label>Width Segments</label>
                                <input type="number" ng-model="item.wSegments">
                            </md-input-container>
                            <md-input-container flex class="md-block no-bottom" ng-show="hasWidthHeightSegments(item)">
                                <label>Height Segments</label>
                                <input type="number" ng-model="item.hSegments">
                            </md-input-container>
                            <md-input-container flex class="md-block no-bottom" ng-show="hasTextureWidthHeight(item)">
                                <label>Texture Width</label>
                                <input type="number" ng-model="item.textureWidth">
                            </md-input-container>
                            <md-input-container flex class="md-block no-bottom" ng-show="hasTextureWidthHeight(item)">
                                <label>Texture Height</label>
                                <input type="number" ng-model="item.textureHeight">
                            </md-input-container>
                        </md-card-content>
                        <md-card-content layout="row" ng-show="item.type == 'water'">
                            <div md-color-picker ng-model="item.sunColor"></div>
                            <div md-color-picker ng-model="item.waterColor"></div>
                            <md-input-container flex class="md-block no-bottom">
                                <label>Alpha</label>
                                <input type="number" ng-model="item.alpha">
                            </md-input-container>
                        </md-card-content>
                        <md-card-content layout="row" ng-show="hasRadiusAndSegments(item.type)">
                            <md-input-container flex class="md-block no-bottom">
                                <label>Radius</label>
                                <input ng-model="item.radius">
                            </md-input-container>
                            <md-input-container flex class="md-block no-bottom">
                                <label>Segments</label>
                                <input ng-model="item.segments">
                            </md-input-container>
                        </md-card-content>
                        <md-card-actions layout="row" layout-align="end center">
                            <md-button ng-click="defaultItem(item)">default</md-button>
                            <md-button ng-click="removeItem(item)">delete</md-button>
                        </md-card-actions>
                    </md-card>
                </md-content>
                <md-button class="md-fab md-fab-bottom-right" ng-disabled="false" aria-label="Add item" ng-click="addItem()">
                    <md-icon md-svg-src="cinematic-editor/ic_add_48px.svg"></md-icon>
                </md-button>
            </md-tab>
            <md-tab label="scripts">
                <md-content class="md-padding space-for-button">
                    <md-card ng-show="json.scripts.length == 0">
                        <md-card-content layout="row" layout-align="center center">
                            <p>No scripts</p>
                        </md-card-content>
                    </md-card>
                    <md-card ng-repeat="script in json.scripts">
                        <md-card-content ng-repeat="action in script.actions" layout="column">
                            <md-toolbar class="md-theme-light">
                                <h2 class="md-toolbar-tools">
                                    <span>Action</span>
                                </h2>
                            </md-toolbar>
                            <div layout="row">
                                <md-input-container class="md-block no-bottom" flex-gt-xs>
                                    <label>Delay</label>
                                    <input ng-model="action.delay">
                                </md-input-container>
                                <md-input-container flex>
                                    <label>Target</label>
                                    <md-select ng-model="action.target">
                                        <md-option ng-repeat="obj in targetableObjects() | filter: itemWithIdFilter" value="{{ obj.id }}">
                                            {{ obj.id }}
                                        </md-option>
                                    </md-select>
                                </md-input-container>
                            </div>
                            <div layout="row" ng-show="action.target && hasAnimate(action.target)">
                                <md-input-container flex>
                                    <label>Animate</label>
                                    <input type="number" ng-model="action.animate.name">
                                </md-input-container>
                                <md-input-container flex>
                                    <md-switch flex ng-model="action.animate.loop" aria-label="Loop">
                                        Loop
                                    </md-switch>
                                </md-input-container>
                                <md-input-container flex>
                                    <md-switch flex ng-model="action.animate.reverse" aria-label="Reverse">
                                        Reverse
                                    </md-switch>
                                </md-input-container>
                                <md-input-container flex>
                                    <md-switch flex ng-model="action.animate.stopOtherAnimations" aria-label="Stop other animations">
                                        Stop other animations
                                    </md-switch>
                                </md-input-container>
                                <md-input-container flex>
                                    <label>Time Scale</label>
                                    <input ng-model="action.animate.timeScale">
                                </md-input-container>
                                <md-input-container flex>
                                    <label>Wait Script</label>
                                    <input type="number" ng-model="action.animate.waitScript">
                                </md-input-container>
                            </div>
                            <div layout="row" ng-show="action.target">
                                <span flex layout="row" layout-align="center center">Tween</span>
                                <md-input-container flex>
                                    <md-switch flex ng-model="action.tween.relative" aria-label="Relative">
                                        Relative
                                    </md-switch>
                                </md-input-container>
                                <md-input-container flex>
                                    <label>Duration</label>
                                    <input type="number" ng-model="action.tween.duration">
                                </md-input-container>
                                <md-input-container flex>
                                    <label>Kind</label>
                                    <md-select ng-model="action.tween.kind">
                                        <md-option ng-repeat="kind in tweenKinds" value="{{ kind }}">
                                            {{ kind }}
                                        </md-option>
                                    </md-select>
                                </md-input-container>
                                <md-input-container flex>
                                    <label>Direction</label>
                                    <md-select ng-model="action.tween.direction">
                                        <md-option ng-repeat="direction in directionTypes" value="{{ direction }}">
                                            {{ direction }}
                                        </md-option>
                                    </md-select>
                                </md-input-container>
                            </div>
                            <div layout="row" ng-show="action.target">
                                <span flex layout="row" layout-align="center center">Position</span>
                                <md-input-container flex class="md-block no-bottom" flex-gt-xs>
                                    <label>x</label>
                                    <input type="number" ng-model="action.tween.target.x">
                                </md-input-container>
                                <md-input-container flex class="md-block no-bottom" flex-gt-xs>
                                    <label>y</label>
                                    <input type="number" ng-model="action.tween.target.y">
                                </md-input-container>
                                <md-input-container flex class="md-block no-bottom" flex-gt-xs>
                                    <label>z</label>
                                    <input type="number" ng-model="action.tween.target.z">
                                </md-input-container>
                            </div>
                            <div layout="row" ng-show="action.target">
                                <span flex layout="row" layout-align="center center">Rotation</span>
                                <md-input-container flex class="md-block no-bottom" flex-gt-xs>
                                    <label>rX</label>
                                    <input type="number" ng-model="action.tween.target.rX">
                                </md-input-container>
                                <md-input-container flex class="md-block no-bottom" flex-gt-xs>
                                    <label>rY</label>
                                    <input type="number" ng-model="action.tween.target.rY">
                                </md-input-container>
                                <md-input-container flex class="md-block no-bottom" flex-gt-xs>
                                    <label>rZ</label>
                                    <input type="number" ng-model="action.tween.target.rZ">
                                </md-input-container>
                            </div>
                            <div layout="row" ng-show="action.target">
                                <span flex layout="row" layout-align="center center">Look At</span>
                                <md-input-container flex class="md-block no-bottom" flex-gt-xs>
                                    <label>x</label>
                                    <input type="number" ng-model="action.lookAt.x">
                                </md-input-container>
                                <md-input-container flex class="md-block no-bottom" flex-gt-xs>
                                    <label>y</label>
                                    <input type="number" ng-model="action.lookAt.y">
                                </md-input-container>
                                <md-input-container flex class="md-block no-bottom" flex-gt-xs>
                                    <label>z</label>
                                    <input type="number" ng-model="action.lookAt.z">
                                </md-input-container>
                            </div>
                            <div layout="row">
                                <md-input-container flex>
                                    <label>Sound</label>
                                    <md-select ng-model="action.sound.key">
                                        <md-option ng-repeat="asset in json.assets | filter: soundsFilter" value="{{ getKeyName(asset.destPath) }}">
                                            {{ getKeyName(asset.destPath) }}
                                        </md-option>
                                    </md-select>
                                </md-input-container>
                                <md-input-container flex>
                                    <label>Type</label>
                                    <md-select ng-model="action.sound.type">
                                        <md-option ng-repeat="type in soundTypes" value="{{ type }}">
                                            {{ type }}
                                        </md-option>
                                    </md-select>
                                </md-input-container>
                                <md-input-container flex ng-show="['fadeIn', 'fadeOut'].includes(action.sound.type)">
                                    <label>To</label>
                                    <input type="number" ng-model="action.sound.to">
                                </md-input-container>
                                <md-input-container flex ng-show="['fadeIn', 'fadeOut'].includes(action.sound.type)">
                                    <label>Duration</label>
                                    <input type="number" ng-model="action.sound.duration">
                                </md-input-container>
                                <md-input-container flex ng-show="['loop'].includes(action.sound.type)">
                                    <md-switch flex ng-model="action.sound.loop" aria-label="Loop">
                                        Loop
                                    </md-switch>
                                </md-input-container>
                                <md-input-container flex ng-show="['volume', 'volumeAll'].includes(action.sound.type)">
                                    <label>Volume</label>
                                    <input type="number" ng-model="action.sound.volume">
                                </md-input-container>
                            </div>
                        </md-card-content>
                        <md-card-content ng-show="script.actions.length == 0" layout="row" layout-align="center center">
                            No actions
                        </md-card-content>
                        <md-card-actions layout="row" layout-align="end center">
                            <md-button ng-click="addScriptAction(script)">add action</md-button>
                            <md-button ng-click="removeScript(script)">delete</md-button>
                        </md-card-actions>
                    </md-card>
                </md-content>
                <md-button class="md-fab md-fab-bottom-right" ng-disabled="false" aria-label="Add camera" ng-click="addScript()">
                    <md-icon md-svg-src="cinematic-editor/ic_add_48px.svg"></md-icon>
                </md-button>
            </md-tab>
        </md-tabs>
    </md-content>
</div>
