<div ng-cloak="" class="tabsdemoDynamicHeight">
    <md-content>
        <md-tabs md-dynamic-height="" md-border-bottom="">
            <md-tab label="workspace">
                <md-card>
                    <md-card-content layout="column">
                        <div layout="row" layout-align="center center" ng-repeat="dir in settings.workspaceDirs">
                            <md-input-container flex>
                                <label>{{ dir.key }}</label>
                                <input ng-model="workspace[dir.key]" ng-change="dir.method({ target: { files: [{path: workspace[dir.key] }]}})" ng-model-options="{ debounce: 500 }">
                            </md-input-container>
                            <input class="ng-hide" id="input-file-id" multiple type="file" aria-label="Choose directory" webkitdirectory directory custom-on-change="dir.method"/>
                            <label for="input-file-id" class="md-button md-raised md-primary">Choose directory</label>
                        </div>
                    </md-card-content>
                </md-card>
            </md-tab>
            <md-tab label="update">
                <md-card>
                    <md-card-content layout="row">
                        <pre>{{ updateOutput }}</pre>
                        <pre>{{ updateError }}</pre>
                    </md-card-content>
                    <md-card-actions layout="row" layout-align="end center">
                        <md-button ng-hide="ui.updating" class="md-raised md-primary" ng-click="updateCE()">NOW</md-button>
                    </md-card-actions>
                </md-card>
            </md-tab>
        </md-tabs>
    </md-content>
</div>
