<div ng-cloak="" class="tabsdemoDynamicHeight">
    <md-content>
        <md-tabs md-dynamic-height="" md-border-bottom="">
            <md-tab label="workspace">
                <md-card>
                    <md-card-content layout="column">
                        <div layout="row" layout-align="center center" ng-repeat="dir in ui.workspaceDirs">
                            <md-input-container flex>
                                <label>{{ dir.key }}</label>
                                <input ng-model="json[dir.key]" ng-change="dir.method({ target: { files: [{path: json[dir.key] }]}})" ng-model-options="{ debounce: 500 }">
                            </md-input-container>
                            <input class="ng-hide" id="input-file-id" multiple type="file" aria-label="Choose directory" webkitdirectory directory custom-on-change="dir.method"/>
                            <label for="input-file-id" class="md-button md-raised md-primary">Choose directory</label>
                        </div>
                    </md-card-content>
                    <md-card-footer>
                        <md-button ng-click="goTo('menu')">back</md-button>
                    </md-card-footer>
                </md-card>
            </md-tab>
        </md-tabs>
    </md-content>
</div>
