<div id="hero-select">
    <img ng-src="{{deck.url}}" ng-repeat="deck in decks" ng-click="selectDeck(deck)" ng-class="{ 'grayscale': myDeck && myDeck != deck}"/>
</div>

<div class="hint-bar">
    <img class="hint" src="assets/hint.png" alt="" />
    <p ng-class="{ 'singleRow': !hintSmall }">{{hintBig}}</p>
    <p>{{hintSmall}}</p>
</div>
<img class="back-button" src="assets/back.png" alt="" ng-click="goto('/home')"/>
<img class="ok-button" src="assets/ok.png" ng-show="myDeck" ng-click="play()">
