<div id="menu" class="row">
    <div class="col-xs-6 col-xs-offset-3" ng-click="play()">
        <img class="img-responsive" src="assets/button.png" alt=""/>
        <p>Play</p>
    </div>
    <div class="col-xs-3">
    </div>
    <div class="col-xs-6 col-xs-offset-3" ng-click="goto('/cards')">
        <img class="img-responsive" src="assets/button.png" alt=""/>
        <p>Cards</p>
    </div>
</div>

<img class="logout-button" src="assets/logout.png" alt="" ng-click="goto('/logout')"/>
<img class="fullscreen-button" src="assets/fullscreen.png" alt="" ng-click="toggleFullScreen()"/>
