<md-sidenav class="md-sidenav-left md-whiteframe-z2 terrain-generator" md-component-id="left" md-is-locked-open="true" style="position: fixed; z-index: 1">
    <md-content layout-padding>
        <div layout="row" layout-align="center center">
            <md-button ng-click="openAssetSearch($event, { type: 'texture' }, heightmapChosen)" aria-label="Choose heightmap">{{ getKeyName(options.heightmap.libPath )}}</md-button>
        </div>
        <img class="heightmap" ng-src="{{options.heightmap.libPath}}" ng-click="openAssetSearch($event, { type: 'texture' }, heightmapChosen)">
        <div layout="row" layout-align="center center">
            <md-button ng-click="openAssetSearch($event, { type: 'texture' }, textureChosen)" aria-label="Choose texture">{{ getKeyName(options.texture.libPath) }}</md-button>
        </div>
        <img class="heightmap" ng-src="{{options.texture.libPath}}" ng-click="openAssetSearch($event, { type: 'texture' }, textureChosen)">
        <div layout="row">
            <md-input-container>
                <label>Width</label>
                <input type="number" ng-model="options.width" ng-change="updateTerrain()">
            </md-input-container>
            <md-input-container>
                <label>Height</label>
                <input type="number" ng-model="options.height" ng-change="updateTerrain()">
            </md-input-container>
        </div>
        <div layout="row">
            <md-input-container>
                <label>Width Segments</label>
                <input type="number" ng-model="options.wSegments" ng-change="updateTerrain()">
            </md-input-container>
            <md-input-container>
                <label>Height Segments</label>
                <input type="number" ng-model="options.hSegments" ng-change="updateTerrain()">
            </md-input-container>
        </div>
        <div layout="row">
            <md-input-container flex>
                <label>Scale</label>
                <input type="number" ng-model="options.scale" ng-change="updateTerrain()">
            </md-input-container>
        </div>
        <md-button ng-click="saveJson()">save</md-button>
    </md-content>
</md-sidenav>

<style type="text/css" media="all">
    canvas {
        left: 320px;
    }
</style>
