<md-sidenav class="md-sidenav-left md-whiteframe-z2 terrain-generator" md-component-id="left" md-is-locked-open="true" style="position: fixed; z-index: 1">
    <md-content layout-padding>
        <div layout="row">
            <md-input-container flex>
                <label>Heightmap</label>
                <input ng-model="options.heightmapUrl" ng-change="updateTerrain()">
            </md-input-container>
        </div>
        <img class="heightmap" ng-src="{{options.heightmapUrl}}">
        <div layout="row">
            <md-input-container>
                <label>Texture</label>
                <input ng-model="options.textureUrl" ng-change="updateTerrain()">
            </md-input-container>
        </div>
        <img class="heightmap" ng-src="{{options.textureUrl}}">
        <div layout="row">
            <md-input-container>
                <label>Width</label>
                <input type="number" ng-model="options.width" ng-change="updateTerrain()">
            </md-input-container>
            <md-input-container>
                <label>Height</label>
                <input type="number" ng-model="options.height" ng-change="updateTerrain()">
            </md-input-container>
        </div>
        <div layout="row">
            <md-input-container>
                <label>Width Segments</label>
                <input type="number" ng-model="options.wSegments" ng-change="updateTerrain()">
            </md-input-container>
            <md-input-container>
                <label>Height Segments</label>
                <input type="number" ng-model="options.hSegments" ng-change="updateTerrain()">
            </md-input-container>
        </div>
        <div layout="row">
            <md-input-container flex>
                <label>Scale</label>
                <input type="number" ng-model="options.scale" ng-change="updateTerrain()">
            </md-input-container>
        </div>
        <md-button ng-click="saveJson()">save</md-button>
    </md-content>
</md-sidenav>
