<!DOCTYPE HTML>
<html lang="en" ng-app="app">
    <head>
        <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
        <title>coffee-engine terrain-generator</title>
        <link rel="stylesheet" href="style.css" />
    </head>
    <body ng-controller="MainController">
        <div class="menu">
            <p>heightmap url<input type="text" ng-change="updateTerrain()" ng-model="options.heightmapUrl" /></p>
            <img class="heightmap" ng-src="{{options.heightmapUrl}}">
            <p>texture url<input type="text" ng-change="updateTerrain()" ng-model="options.textureUrl" /></p>
            <img class="heightmap" ng-src="{{options.textureUrl}}">
            <p>width <input type="number" ng-change="updateTerrain()" ng-model="options.width" /></p>
            <p>height <input type="number" ng-change="updateTerrain()" ng-model="options.height" /></p>
            <p>wSegments<input type="number" ng-change="updateTerrain()" ng-model="options.wSegments" /></p>
            <p>hSegments<input type="number" ng-change="updateTerrain()" ng-model="options.hSegments" /></p>
            <p>scale<input type="number" ng-change="updateTerrain()" ng-model="options.scale" /></p>
            <button ng-click="saveJson()">save json</button>
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
        <script src="../../../build/coffee-engine-3d.js"></script>
        <script src="app.js"></script>
    </body>
</html>
