html,
body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  margin: 0px;
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

div h3 {
  text-align: center;
}

.menu {
  text-align: center;
  position: absolute;
  overflow: auto;
  width: 40%;
  height: 100%;
  right: 0px;
  z-index: 100;
  border-left: dashed 1px black;
  background-color: white;
}

canvas {
  position: absolute;
  z-index: 0;
}

input[type=number] {
  width: 60px;
}

.heightmap {
  border: 1px solid green;
  width: 100px;
  height: 100px;
  max-width: 100px;
  max-height: 100px;
  min-width: 100px;
  min-height: 100px;
}
