* {
  cursor: none;
}
html,
body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  margin: 0px;
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #000;
}
#resources {
  display: none;
}
.canvasHolder {
  width: 100%;
  height: 100%;
  text-align: center;
}
#game {
  -ms-grid-column: 1;
  -ms-grid-row: 1;
  -ms-grid-column-align: center;
  -ms-grid-row-align: center;
}
